@use 'variaveis';

.footer {
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    @media (max-width: 768px){
        font-size: 30px; 
        letter-spacing: 3px; 
        padding: 0 10px; 
    }

    p {
        margin-bottom: 16px;
    }
}