// Cores - Tema Interestelar
$corDeFundo: #000000;
$corTextoPrincipal: #A3A3A3;
$corTextoSecundario: #FFFFFF;
$corDeFundoBotaoPrimario: #D98A59;
$corDeFundoBotaoSecundario: #1C1E22;
$corDeFundoBotaoDark: #0A0A0A;

// Fontes
$fonteTitulos: 'Jost', sans-serif;
$fonteTextos: 'Inter', sans-serif;